*{
	margin:0 ;
	padding: 0;
	font-family: arial;
}

.upperBox
{
	width: 100%;
	background: url('../img/01.png');
	background-size: cover;
	overflow: hidden;
}

header
{
	width: 940px;
	margin: auto;

}

.navContainer
{
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	
}

nav
{
	width: 940px;
	margin: auto;
	overflow: hidden;
	color: white;
}

nav * 
{
	float: left;
}

nav img
{
	display: block;
}

nav span
{
	font-family: 'Audiowide', cursive;
	padding: 19px;

}

nav ul li
{
	padding: 20px;
	list-style-type: none;
	margin: 0 10px;
}

nav ul li:hover
{
	background-color: #620031;
	cursor: pointer;
}

header
{
	overflow: hidden;
	height: 715px;
}

header > img 
{
	float: left;
	position:	relative;
	top: 40px;
	z-index: 10;
}

header .gallery > img:hover
{
	opacity: 0.5;
	cursor: pointer;
}

.sojuz
{
	font-family: 'Audiowide', cursive;
	font-size: 60px;
	color: white;
	float: left;
	position: relative;
	top: 185px;
	left: -30px;
}

header > p
{
	color: white;
	font-size: 45px;
	position: relative;
	top: 200px;
	left: 60px;
}

header button
{
	width: 180px;
	height: 50px;
	background-color: black;
	border: 0;
	color: #a3a3a3;
	font-size: 18px;
	position: relative;
	top: 225px;
	left: 125px;
}

header button:hover
{
	background-color: #ab000b;
	color: white;
	cursor: pointer;
}

.galeryTitle
{
	opacity: 0.5;
	width: 100%;
	height: 55px;
	background-color: black;
	color: white;
	position: relative;
	top: 325px;
	z-index: 0;
}

.galeryTitle p
{
	font-family: 'Audiowide', cursive;
	font-size: 20px;
	display: block;
	position: relative;
	top: 50%;
	left: -50px;
	transform: translateY(-50%);
}

.gallery
{
	position: relative;
	float: left;
	top: 64px;
}

.gallery img
{
	width: 25%;
	float: left;
	z-index: 1000;
}

.middleBox
{
	background-color: #630031;
	color: white;
	text-align: center;
	overflow: hidden;
}

.middleBox h2
{
	font-size: 35px;
	padding: 25px;
	font-family: 'Audiowide', cursive;
}

.middleBox p
{
	font-size: 18px;
	width: 780px;
	margin: 0 auto 30px auto;
}

.lowerBox
{
	background-color: black;
	color: white;
	overflow: hidden;
}

.lowerBoxCenter
{
	width: 940px;
	margin: auto;
}

.lowerBox img:hover
{
	opacity: 0.5;
	cursor: pointer;
}

.lowerBoxCenter  h2
{
	font-family: 'Audiowide';
	font-size: 32px;
	padding-top: 35px;
	margin-bottom: 45px;

}

.leftBox, .rightBox
{
	float: left;
	width: 50%;
}

.rightBox
{
	box-sizing: border-box;
	padding-left: 40px;
}

.rightBox img
{
	float: left;
	margin-bottom: 40px;
}

.rightBox h3
{
	font-family: 'Audiowide';
	float: left;
	margin-left: 20px;
	font-size: 20px;
	color: #a3a3a3;
}

.rightBox hr
{
	clear: both;
	margin: 40px 0;
}

.rightBox p
{
	float: left;
	color: #a3a3a3;
	font-size: 14px;
	margin-left: 20px;
	margin-bottom: 10px;
	padding-top: 5px;
	width: 310px;
}

.rightBox button
{
	width: 135px;
	height: 30px;
	background-color: #3c0f38;
	border: 0;
	color: white;
	float: right;
}

.rightBox button:hover
{
	background-color: #630031;
	cursor: pointer;
}

footer
{
	background-color: #a3a3a3;
	overflow: hidden;
	text-align: center;
	height: 90px;
}

.footerContainer
{
	width: 700px;
	margin: auto;
}

footer p.title
{
	font-family: 'Audiowide';
	font-size: 22px;
	color: white;
	float: left;
	line-height: 90px;
	padding-right: 50px;
}

footer div div
{
	cursor: pointer;
	width: 50px;
	display: inline-block;
	height: 90px;
	float: left;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-right: 15px;
}


footer div[name=facebook]
{
	background-image: url('../img/socialMedia1.png');
}
footer div[name=twitter]
{
	background-image: url('../img/socialMedia2.png');
}
footer div[name=google]
{
	background-image: url('../img/socialMedia3.png');
}
footer div[name=people]
{
	background-image: url('../img/socialMedia4.png');
}

footer div[name=facebook]:hover
{
	background-image: url('../img/socialMediaHover1.png');
}

footer div[name=twitter]:hover
{
	background-image: url('../img/socialMediaHover2.png');
}

footer div[name=google]:hover
{
	background-image: url('../img/socialMediaHover3.png');
}

footer div[name=people]:hover
{
	background-image: url('../img/socialMediaHover4.png');
}


.copyright
{
	background-color: white;
	color: black;
	clear: both;
}

.copyright p
{
	line-height: 85px;
	text-align: center;
	font-size: 12px;
}